<div class="faqs">
    <div class="padded-content">
        <header class="center">
            <h1>Frequently asked questions</h1>
        </header>
        <div class="faq-box">
            <div class="faq">
                <div class="question">
                    How do I request sponsorship or special pricing for my organization?
                </div>
                <p class="answer">
                    {% if free_trial_days %}
                    You can request sponsorship during
                    <a href="/new">organization creation</a>, in an organization's
                    <a href="{{ sponsorship_url }}">billing page</a>, or contact us at
                    <a href="mailto:sales@zulip.com">sales@zulip.com</a>.
                    {% else %}
                    You can request sponsorship from an organization's
                    <a href="{{ sponsorship_url }}">billing page</a>, or contact us at
                    <a href="mailto:sales@zulip.com">sales@zulip.com</a>.
                    {% endif %}
                    Zulip sponsors free Zulip Cloud Standard for hundreds of
                    worthy organizations via the above programs.
                </p>
            </div>
            <div class="faq">
                <div class="question">
                    Does Zulip scale to a large number of users?
                </div>
                <p class="answer">
                    Yes! Some of our biggest fans have hundreds or thousands
                    of users, including Fortune 500 companies like Akamai,
                    and open source communities like
                    <a href="https://www.recurse.com/blog/112-how-rc-uses-zulip">The
                    Recurse Center</a>. If you’d like to see a large Zulip
                    in action, the
                    <a href="/developer-community/">Zulip
                    community server</a> has thousands of accounts and hundreds of weekly active users, and is run on a single machine with 8GB of RAM.
                </p>
            </div>
            <div class="faq">
                <div class="question">
                    Can I pay by credit card and/or invoice?
                </div>
                <p class="answer">
                    You can always use a credit card to pay, and we can bill
                    by invoice for amounts over $1000.
                </p>
            </div>
            <div class="faq">
                <div class="question">
                    Can I start on Zulip Cloud and later move to On-Premise?
                </div>
                <p class="answer">
                    Yes! Our high quality export and import tools
                    (<a href="/help/export-your-organization">cloud</a>,
                    <a href="https://zulip.readthedocs.io/en/latest/production/export-and-import.html">on-premise</a>) ensure you can always move
                    from our hosting to yours (and back). If
                    you&rsquo;d like to do a migration, email
                    support@zulip.com and we’ll get you started!
                </p>
            </div>
            <div class="faq">
                <div class="question">
                    How are guest users billed?
                </div>
                <p class="answer">
                    Guests cannot see or join streams they are not invited
                    to. Guests subscribed to more than 1 stream are billed
                    like regular users. Guests subscribed to a single stream
                    are generally free, unless you have more than 5 times as
                    many single-stream guests as paying users. More details
                    are available <a href="/help/roles-and-permissions">here</a>.
                </p>
            </div>
            <div class="faq">
                <div class="question">
                    How does the free plan message limit work?
                </div>
                <p class="answer">
                    Only the most recent 10,000 messages can be viewed
                    and searched with Zulip Free.  Older messages are
                    still stored and will become available again
                    should the organization purchase a paid plan or
                    get Zulip Cloud Standard free because they are an
                    open source project or similar organization.
                </p>
            </div>
            <div class="faq">
                <div class="question">
                    What is the difference between automatic and manual billing?
                </div>
                <p class="answer">
                    With automatic billing, you automatically purchase a Zulip license
                    for each user in your organization at the start of each billing period
                    (month or year). Deactivating a user frees up their license for reuse.
                    Additional licenses are purchased automatically as needed.

                    With manual billing, you choose and pay for a preset user limit. If
                    the limit is reached, no more users can join until licenses are manually
                    added.

                    In general, we highly recommend selecting automatic billing unless you
                    have a specific reason to do otherwise.
                </p>
            </div>
            <div class="faq">
                <div class="question">
                    How will I be charged for temporary users (e.g. limited-time
                    clients)?
                </div>
                <p class="answer">
                    Users
                    <a href="/help/deactivate-or-reactivate-a-user#deactivate-ban-a-user">can be deactivated</a>
                    any time. Deactivating a user frees up their license for reuse.
                </p>
            </div>
            <div class="faq">
                <div class="question">
                    Who can I contact if I have further questions?
                </div>
                <p class="answer">
                    Stop by the
                    <a href="/developer-community/">Zulip
                    community server</a> to see Zulip in action and chat
                    with the developers,
                    tweet <a href="https://twitter.com/zulip">@zulip</a>, or
                    shoot us an email at sales@zulip.com!
                </p>
            </div>
        </div>
    </div>
</div>
