{% extends "zerver/portico.html" %}
{% set entrypoint = "landing-page" %}

{% set OPEN_GRAPH_TITLE = 'Zulip for research' %}
{% set OPEN_GRAPH_DESCRIPTION = 'Chat for your project, research group, department or scientific field' %}

{% block title %}
<title>Zulip for research: Chat for your project, research group, department or scientific field</title>
{% endblock %}

{% block customhead %}
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{% endblock %}

{% block portico_content %}

{% include 'zerver/landing_nav.html' %}


<div class="portico-landing why-page no-slide solutions-page">
    <div class="hero bg-education">
        <div class="bg-dimmer"></div>
        <div class="content">
            <h1 class="center">Zulip for research</h1>
            <p>Chat for your project, research group, department or scientific field</p>
        </div>
        <div class="hero-text">
            <a href="/plans">Zulip Standard</a> is free for academic research! Contact <a href="mailto:sales@zulip.com">sales@zulip.com</a> to check whether your organization qualifies, or <a href="/accounts/go/?next=/upgrade%23sponsorship">request sponsorship</a> today.
        </div>
        <div class="hero-buttons center">
            <a href="/new/" class="button">
                {{ _('Create organization') }}
            </a>
            <a href="/accounts/go/?next=/upgrade%23sponsorship" class="button">
                {{ _('Request sponsorship') }}
            </a>
            <a href="https://zulip.readthedocs.io/en/stable/production/install.html" class="button">
                {{ _('Self-host Zulip') }}
            </a>
        </div>
    </div>

    <div class="feature-intro">
        <h1 class="center"> Make Zulip the communication hub for your research community. </h1>
        <p>
            <a href="/hello">Zulip</a> is the only <a href="/features">modern team chat app</a> that is <a href="/why-zulip">ideal</a> for both live and asynchronous conversations. Coordinate with collaborators, post questions and ideas, and learn from others in your field.
        </p>
    </div>

    <div class="feature-container">
        <div class="feature-half">
            <div class="feature-text">
                <h1>
                    Use topics to organize the discussion
                </h1>
                <ul>
                    <li>
                        <div class="list-content">
                            <a href="/help/about-streams-and-topics">Zulip
                            topics</a> create a separate space for each
                            discussion.
                        </div>
                    </li>
                    <li><div class="list-content">Find active conversations, or see what
                      happened while you were away, with the <a href="/help/reading-strategies#recent-topics">Recent Topics</a> view.</div></li>
                    <li>
                        <div class="list-content">
                            Keep discussions orderly
                            by <a href="/help/rename-a-topic">moving</a>
                            or <a href="/help/move-content-to-another-topic">splitting</a>
                            topics when conversations digress.
                        </div>
                    </li>
                    <li>
                        <div class="list-content">
                            Check out <a href="/for/communities">Zulip for communities</a>
                            to learn how Zulip empowers welcoming communities by making it
                            easy to participate on your own time.
                        </div>
                    </li>
                </ul>
                <div class="quote">
                    <blockquote>
                        The Lean community switched from Gitter to Zulip in early 2018,
                        and never looked back. Zulip’s stream/topic model has been
                        essential for organising research work and simultaneously
                        onboarding newcomers as our community scaled. My experience with
                        both the app and the website is extremely positive!
                    </blockquote>
                    <div class="author">
                        &mdash; <a href="https://www.imperial.ac.uk/people/k.buzzard">Kevin Buzzard</a>, Professor of Pure Mathematics at <a href="https://www.imperial.ac.uk/">Imperial College London</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="feature-half">
            <div class="feature-image topics-image">
                <img alt="" src="/static/images/landing-page/research/streams_and_topics_day.png" />
            </div>
        </div>
    </div>

    <div class="feature-container alternate-grid">
        <div class="feature-half md-hide">
            <div class="feature-image">
                <img alt="" src="/static/images/landing-page/education/knowledge-repository.svg" />
            </div>
        </div>
        <div class="feature-half">
            <div class="feature-text">
                <h1>
                    Lasting knowledge repository
                </h1>
                <ul>
                    <li>
                        <div class="list-content">
                            <a href="/help/link-to-a-message-or-conversation">Link
                            to a Zulip conversation</a> from emails,
                            notes, talk slides, or anywhere else.
                        </div>
                    </li>
                    <li>
                        <div class="list-content">
                            Information is at your fingertips with
                            Zulip's <a href="/help/search-for-messages">powerful
                            full-text search</a>. New participants can
                            learn from past discussions with unlimited
                            message history.
                        </div>
                    </li>
                    <li><div class="list-content"><a href="https://github.com/zulip/zulip-archive">Publish</a> discussions on the web, or move your data with our high quality <a href="/help/export-your-organization">export</a> and <a href="https://zulip.readthedocs.io/en/latest/production/export-and-import.html">import</a> tools.</div></li>

                    <li><div class="list-content">Zulip is <a href="https://github.com/zulip">100% free and open-source software</a>, so you are never locked into a proprietary tool.</div></li>
                </ul>
                <blockquote class="twitter-tweet" data-conversation="none" data-dnt="true"><p lang="en" dir="ltr">+10 or maybe even 💯 for <a href="https://twitter.com/zulip?ref_src=twsrc%5Etfw">@zulip</a>. Was originally put onto it by <a href="https://twitter.com/five9a2?ref_src=twsrc%5Etfw">@five9a2</a> (thanks!). Have since used it at all levels - my research group (~10 ppl), my dept group (CS Theory, ~30 ppl), my research community (algebraic complexity), and small collaborations. All great!</p>&mdash; Joshua Grochow (@joshuagrochow) <a href="https://twitter.com/joshuagrochow/status/1383141209934163969?ref_src=twsrc%5Etfw">April 16, 2021</a></blockquote> <script async src="https://platform.twitter.com/widgets.js"></script>
            </div>
        </div>
        <div class="feature-half md-display">
            <div class="feature-image">
                <img alt="" src="/static/images/landing-page/education/knowledge-repository.svg" />
            </div>
        </div>
    </div>

    <div class="feature-container">
        <div class="feature-half md-hide">
            <div class="feature-image">
                <img alt="" src="/static/images/landing-page/events/message_formatting_day.png" />
            </div>
        </div>
        <div class="feature-half">
            <div class="feature-text">
                <h1>
                    Powerful formatting
                </h1>
                <ul>
                    <li><div class="list-content"><a href="/help/format-your-message-using-markdown#latex">Type LaTeX</a> directly into your Zulip message, and see it beautifully rendered.</div></li>
                    <li><div class="list-content"><a href="/help/code-blocks">Zulip
                    code blocks</a> come with syntax highlighting for over 250 languages, and integrated <a href="/help/code-blocks#code-playgrounds">code playgrounds.</a></div></li>
                    <li><div class="list-content">Structure your points with bulleted and numbered <a href="/help/format-your-message-using-markdown#lists">lists</a>.</div></li>
                    <li>
                        <div class="list-content">
                            If you made a mistake, no worries! You
                            can <a href="/help/edit-or-delete-a-message">edit your
                            message</a>, or move it to a
                            different <a href="/help/move-content-to-another-topic">topic</a>
                            or <a href="/help/move-content-to-another-stream">stream</a>.
                        </div>
                    </li>
                </ul>
                <blockquote class="twitter-tweet"><p lang="en" dir="ltr">I&#39;ve been using <a href="https://twitter.com/zulip?ref_src=twsrc%5Etfw">@zulip</a> recently for my research collaborations, and I was pleasantly surprised how effective it is! The excellent LaTeX rendering and clever threading make it far superior to email and Slack. I found myself shifting most of my research correspondences to Zulip.</p>&mdash; Tom Gur (@TomGur) <a href="https://twitter.com/TomGur/status/1294322062274842624?ref_src=twsrc%5Etfw">August 14, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js"></script>
            </div>
        </div>
        <div class="feature-half md-display">
            <div class="feature-image">
                <img alt="" src="/static/images/landing-page/events/message_formatting_day.png" />
            </div>
        </div>
    </div>

    <div class="feature-container alternate-grid">
        <div class="feature-half md-hide">
            <div class="feature-image">
                <img alt="" src="/static/images/landing-page/research/interactive_messaging_day.png" />
            </div>
        </div>
        <div class="feature-half">
            <div class="feature-text">
                <h1>
                    Interactive messaging
                </h1>
                <ul>
                    <li>
                        <div class="list-content">
                            Start a <a href="/help/start-a-call">video
                            call</a> with the click of a button, or
                            make plans for later without worrying
                            about time zones
                            using <a href="/help/format-your-message-using-markdown#mention-a-time">local
                            times</a>.
                        </div>
                    </li>
                    <li>
                        <div class="list-content">
                            Use <a href="/help/emoji-reactions">emoji
                            reactions</a> for lightweight
                            interactions. Have fun
                            with <a href="/help/add-custom-emoji">custom
                            emoji</a> and gather feedback
                            with <a href="/help/create-a-poll">polls</a>.
                        </div>
                    </li>
                    <li><div class="list-content">Share papers, presentations or images with drag-and-drop file uploads.</div></li>
                </ul>
                <figure class="quote">
                    <blockquote>
                        For more than a year, Zulip has been the cornerstone of our online
                        Category Theory community. We greatly appreciate the seamless
                        integration of Latex in every message as well as being able to get
                        sidetracked (which, let's face it, happens a lot with
                        mathematicians) without compromising an entire conversation: we
                        can simply create a new topic for every tangent! Moreover, the
                        flexible streams-and-topics system greatly helps us navigate
                        through the constant influx of messages, as it is simple to tell
                        if a message is relevant to one's interests.
                        <br />
                        <br />
                        All in all, Zulip
                        enabled us to create an unprecedentedly extensive, active and
                        vibrant community for all category theory enthusiasts out there.
                    </blockquote>
                    <div class="author">
                        &mdash; Stelios Tsampas, PhD in Theoretical Computer Science
                    </div>
                </figure>

            </div>
        </div>
        <div class="feature-half md-display">
            <div class="feature-image">
                <img alt="" src="/static/images/landing-page/research/interactive_messaging_day.png" />
            </div>
        </div>
    </div>

    <div class="feature-container">
        <div class="feature-half">
            <div class="feature-text">
                <h1>
                    Flexible administration and moderation
                </h1>
                <ul>
                    <li><div class="list-content">Invite new members with <a href="/help/invite-new-users">multi-use invite links</a>, or allow anyone to <a href="/help/allow-anyone-to-join-without-an-invitation">join without an invitation</a>.</div></li>
                    <li>
                        <div class="list-content">
                            Automatically subscribe members to
                            streams <a href="/help/set-default-streams-for-new-users">when
                            they join.</a>
                        </div>
                    </li>
                    <li><div class="list-content">Manage your community with <a href="/help/stream-permissions#detailed-permissions">fine-grained permission settings</a> for <a href="/help/roles-and-permissions">administrators and moderators</a>.</div></li>
                    <li>
                        <div class="list-content">
                            Zulip offers dozens of features
                            for <a href="/help/moderating-open-organizations">moderating
                            the discussion</a>. Members can
                            also <a href="/help/mute-a-user">mute</a> anyone they'd rather
                            not interact with.
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="feature-half">
            <div class="feature-image">
                <img alt="" src="/static/images/landing-page/education/flexible-administration.svg" />
            </div>
        </div>
    </div>

    <div class="feature-container alternate-grid">
        <div class="feature-half md-hide">
            <div class="feature-image">
                <img alt="" src="/static/images/landing-page/education/mobile.svg" />
            </div>
        </div>
        <div class="feature-half">
            <div class="feature-text">
                <h1>
                    When and how you want it
                </h1>
                <ul>
                    <li>
                        <div class="list-content">
                            With <a href="/apps">apps for every
                            platform</a>, you can check Zulip at your computer or on your
                            phone. Zulip works great in a browser, so no download is
                            required.
                        </div>
                    </li>
                    <li><div class="list-content">Zulip alerts you about timely messages with <a href="/help/stream-notifications">fully customizable</a> mobile, email and desktop notifications.</div></li>
                    <li>
                        <div class="list-content">
                            Mention <a href="/help/mention-a-user-or-group">users</a>, <a href="/help/mention-a-user-or-group#mention-a-user-or-group">groups
                            of users</a>
                            or <a href="/help/pm-mention-alert-notifications#wildcard-mentions">everyone</a>
                            when you need their attention.
                        </div>
                    </li>
                    <li><div class="list-content">Use Zulip in your language or choice, with translations into <a href="https://www.transifex.com/zulip/zulip/">17 languages</a>.</div></li>
                </ul>
            </div>
        </div>
        <div class="feature-half md-display">
            <div class="feature-image">
                <img alt="" src="/static/images/landing-page/education/mobile.svg" />
            </div>
        </div>
    </div>

    <div class="feature-container">
        <div class="feature-half">
            <div class="feature-text">
                <h1>
                    Make the move today
                </h1>
                <ul>
                    <li>
                        <div class="list-content">
                            Zulip's founder is a former MIT PhD student, and we love
                            helping academics succeed. Learn about using Zulip
                            for <a href="/for/education/">teaching</a> and
                            <a href="/for/events/">conferences</a>.
                        </div>
                    </li>
                    <li><div class="list-content">Getting started or moving from another platform is easy! Import your existing organization from <a href="/help/import-from-slack">Slack</a>, <a href="/help/import-from-mattermost">Mattermost</a>, or <a href="/help/import-from-gitter">Gitter</a>.</div></li>
                    <li><div class="list-content">Fully <a href="/help/stream-notifications">customizable notifications</a> let participants keep an eye on the discussions they care about.</div></li>
                    <li><div class="list-content">If you have any questions, please contact us at <a href="mailto:sales@zulip.com">sales@zulip.com</a>. You can also drop by our <a href="/developer-community/">friendly developer community at chat.zulip.org</a> to ask for help or suggest improvements!</div></li>
                </ul>
            </div>
        </div>
        <div class="feature-half">
            <div class="feature-image">
                <div class="quote">
                    <blockquote>
                        I have to use Slack for some other research groups
                        I collaborate with, but my own graduate students
                        voted to switch to Zulip a few years ago and it's
                        just vastly better.
                    </blockquote>
                    <div class="author">
                        &mdash; <a href="https://cs.stanford.edu/~keithw/">Keith Winstein</a>, Assistant Professor of Computer Science at <a href="https://www.stanford.edu/">Stanford University</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="feature-end">
        <div class="bottom-register-buttons">
            <h1>
                <a href="/plans">Zulip Standard</a> is free for
                academic research!
            </h1>
            <div class="hero-buttons center">
                <a href="/new/" class="button">
                    {{ _('Create organization') }}
                </a>
                <a href="/accounts/go/?next=/upgrade%23sponsorship" class="button">
                    {{ _('Request sponsorship') }}
                </a>
                <a href="https://zulip.readthedocs.io/en/stable/production/install.html" class="button">
                    {{ _('Self-host Zulip') }}
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
